{% extends 'base.html' %}
{% load static %}

{% block title %}Réalisation | Portfolio{% endblock %}

{% block heading %}Réalisation{% endblock %}

{% block content %}
    <div class="row">
        
        <div class="card border-primary">
            <h5 class="card-header text-primary">Tohano - Desktop</h5>
            <div class="card-body">
              <h5 class="card-title">PostgreSQL | C# | WPF</h5>
              <p class="card-text">Développement d’une application desktop TOHANO, <br> plateforme de mise en relation de malades et leurs familles avec les associations ou autres.</p>
              
            </div>
        </div>
        

        <div class="card mt-4 border-primary">
            <h5 class="card-header text-primary">Tohano - Web</h5>
            <div class="card-body">
              <h5 class="card-title">PostgreSQL | React | Spring boot| Html | Bootstrap | CSS </h5>
              <p class="card-text">Développement d’une application web TOHANO, <br>plateforme de mise en relation de malades et leurs familles avec les associations ou autres</p>
              
            </div>
        </div>
        
        <div class="card mt-4 border-primary">
            <h5 class="card-header text-primary">Annuaire électronique</h5>
            <div class="card-body">
              <h5 class="card-title">Java | JavaFx | .txt | FontAwesome | Scene Builder</h5>
              <p class="card-text">Annuaire électronique,.....</p>
              
            </div>
        </div>
    </div>
{% endblock %}